
.margin{width:1200px;margin: 0 auto;}

#top{margin: 10px 0 0 0;padding: 0 0 10px 0;border-bottom:1px solid #919191;}

#top img{cursor: pointer; border: none;}

#content{}
#content .left{width: 465px;height: 500px;float: left;margin: 45px 0 0 130px;}

#content .right{}

#content .right h3{height: 35px;
    width: 415px;
    float: right;
    line-height: 35px;
    margin: 45px 100px 0 0;
    border-bottom: 2px solid #b81e20;
    /* padding-left: 10px; */
    font-size: 20px;
    color: #a2a2a2;
    text-align: center;
    }
#content .right h3 i{float: left;}
#content .right h3 span{float: right;font:14px/40px "";}
#content .right h3 span a{color:#b81e20;}
#content .right .email{float: right;margin: 45px 100px 0 0;}    
#content .right .email ul{}
#content .right .email ul li{margin-bottom:15px;}
#content .right .email ul li input{width:384px;height:40px;}
#content .right .email ul li.qian input:nth-child(1){width:250px;height:40px;border:1px solid #ccc;}
#content .right .email ul li.qian input:nth-child(2){width:130px;height:40px;border:1px solid #ccc;}
#content .right .email ul li a{color:#b81e20;}
#content .right .email ul li p{width:386px;height:40px;background: #666;font:16px/40px "";color:#fff;text-align: center;}




