
.margin{width:1200px;margin:0 auto;}
*img{display:block;}
#top{height:32px;background:#f7f7f7;border-top:1px solid #b6b4b6;border-bottom:1px solid #b6b4b6;}
#top .box{float:right;font:12px/32px "";color:#808080;}
#top .box a{margin-right:20px;}
#top span{margin-right:10px;}
header{}
header .h-t{height:62px;float:right;margin: 20px auto 0px;position: relative;}
header .h-t input{border:0;}
header .h-t .txt{width:250px;height:28px; border:1px solid #c9caca;padding: 0px 5px;line-height:28px;}
header .h-t .sub{width: 49px;height:29px;background:#b81b22;color:#fff;cursor: pointer;}
header .h-t .btn{width: 105px;height: 29px;background:#b81b22;border:1px solid #c1383e;color:#fff;cursor: pointer;}


header .h-t .search-res{
				position: absolute;
				top:31px;
				left: 0;
				width: 260px;
				border: 1px solid #b6b6b6;
				border-bottom: 0;
				border-top: none;
				z-index: 1;
				background: #eee;
			}
	
header .h-t .search-res li{
				list-style-type: none;
				line-height: 22px;
				padding: 2px 5px;
				border-bottom: 1px solid #b6b6b6;
				
			}

header .h-t p{display:block;font:12px/32px "";color:#727171;padding-left: 15px;}
header .h-t p a{padding-left: 5px;}
header .h-b{padding-top:88px;}
header .h-b a img{float:left;}
header .h-b ul{}

header .h-b ul li{float:left;height:46px;margin-top:22px;}

header .h-b ul li a{float:left;width:99px;line-height: 22px;padding: 0px 0px 10px;text-align: center;font-size: 16px;}


header .h-b ul li a:hover{color:#b81b22;border-bottom:5px solid #b81b22;}

.h-nav{height:100px;margin-top:70px ;}
.h-nav .tt{display: flex;justify-content: space-between;border-bottom:1px solid #eee;}
.h-nav .tt p:nth-child(1){font:18px/50px "";margin-left:10px ;}
.h-nav .tt p:nth-child(2){font: 14px/50px "";margin-right:10px ;}
.h-nav .tt p:nth-child(2) span{margin-right: 10px;}

.main{margin-top:20px;}
.main .m-l{position: absolute;}
.main .m-l .lass{}
.main .m-l .lass img{width:68px;height:68px;border:1px solid #000;}




.main .m-c{position: absolute;width:400px;height:400px;border:1px solid #000;margin:0 180px;}
.main .m-c img{width:400px;height:400px;position: absolute;}

.main .m-c span{position: absolute;left:0px;top: 0;width: 100px;height: 100px;background: rgba(200,200,200,0.6);display: none;}
.main .m-c p{position: absolute;left:0;top:0;right:0;bottom: 0;margin:0;}
.main .m-y{width:400px;height:400px;position: absolute;left: 830px;top: 312px;overflow: hidden;display: none;border:1px solid #000;z-index: 1;}
.main .m-y img{position: absolute;width: 1200px;height: 1200px;}




/*.s_box{width:400px;height:300px;position: absolute;left: 50px;top: 100px;}
			.s_box img{width: 400px;height: 300px;}
			.s_box span{position: absolute;left: 0;top: 0;width: 133px;height: 100px;background: rgba(200,200,200,0.6);display: none;}
			.s_box p{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: 0;}
			
			.b_box{width: 400px;height: 300px;position: absolute;left: 500px;top: 100px;overflow: hidden;display: none;}
			.b_box img{position: absolute;width: 1200px;height: 900px;}*/










.main .m-r{position:absolute;width:561px;height:374px;right: 0;}
.main .m-r .m-r-t{height:53px;}
.main .m-r .m-r-t span{font-size:18px;color:#f00;}
.main .m-r .m-r-t a{color:#a10000;margin-left:20px ;}
.main .m-r .m-r-c{height:50px;}
.main .m-r .m-r-c .div1{height:80px;}
.main .m-r .m-r-c .div1 span{}
.main .m-r .m-r-c .div1 ul{}
.main .m-r .m-r-c .div1 ul li{float:left;width:92px;height:40px;border:1px solid #000;margin-left:10px;text-align: center;font:12px/40px "";}
.main .m-r .m-r-c .div2{height:80px;}
.main .m-r .m-r-c .div2 span{}
.main .m-r .m-r-c .div2 ul{}
.main .m-r .m-r-c .div2 ul li{float:left;width:34px;height:26px;border:1px solid #000;margin-left:10px;text-align: center;font:12px/26px "";}
.main .m-r .m-r-c .div3{height:50px;}
.main .m-r .m-r-c .div3 span{}
.main .m-r .m-r-c .div3 select{width:40px;height:30px;}

.main .m-r .m-r-c .div5{height:80px;margin-top: 20px;}
.main .m-r .m-r-c .div5 a{}
.main .m-r .m-r-c .div5 a input{border:0 ;width:168px;height: 33px;background: #F7ABAF;}
.main .m-r .m-r-c .div5 a input.btn1{background: #F7ABAF;border:1px solid #b81b22 ;margin-right:10px ;}
.main .m-r .m-r-c .div5 a input.btn2{background: #b81b22;border:1px solid #f99 ;}






